{% load static %}

<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
    <!-- Site Title -->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <!-- Stylesheets -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--[if lt IE 10]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <![endif]-->
</head>
<body>
<!-- The Main Wrapper -->
<div class="page">

    <!--For older internet explorer-->
    <div class="old-ie"
         style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <!--END block for older internet explorer-->

    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="page-header bg-texture-1 well-1">
        <!-- RD Navbar -->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel -->
                    <div class="rd-navbar-panel">

                        <!-- RD Navbar Toggle -->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                        <!-- END RD Navbar Toggle -->

                        <!-- RD Navbar Brand -->
                        <a href="{% url 'home' %}" class="rd-navbar-brand box">
                            <div class="box__left">
									<span class="brand-logo icon icon-sm icon-primary">
										 <img src="{% static 'images/page1_icon01.png' %}" width="35" height="25" alt="">
									</span>
                            </div>
                            <div class="box__body">
                                <div class="brand-name">Fairu<span class="text-color-primary">ze.</span></div>
                                <div class="brand-slogan">Arabian Beauty!</div>
                            </div>
                        </a>
                        <!-- END RD Navbar Brand -->
                    </div>
                    <!-- END RD Navbar Panel -->

                    <div class="rd-navbar-nav-wrap">

                        <!-- RD Navbar Nav -->
                        <ul class="rd-navbar-nav">
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'djs' %}">DJs & Shows</a>

                                <!-- RD Navbar Dropdown -->
                                <ul class="rd-navbar-dropdown">
                                    <li>
                                        <a href="#">DJ Suzana</a>
                                    </li>
                                    <li>
                                        <a href="#">DJ Smith</a>

                                    </li>
                                    <li>
                                        <a href="#">DJ Amarok</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li>
                                                <a href='#'>Morning Show</a>
                                            </li>
                                            <li>
                                                <a href='#'>Evening Shows</a>
                                            </li>
                                            <li>
                                                <a href='#'>Night Show</a>
                                            </li>
                                            <li>
                                                <a href='#'>Weekend Show</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Dropdown -->

                            </li>
                            <li>
                                <a href="{% url 'events' %}">Events</a>
                            </li>
                            <li>
                                <a href="{% url 'news' %}">News & Info</a>
                                <!-- RD Navbar Megamenu -->
                                <ul class="rd-navbar-megamenu">
                                    <li>
                                        <img class="border-radius" src="{% static 'images/page1_img10.jpg' %}" width="270" height="270" alt="">
                                        <h6 class="text-color-primary">Music News</h6>
                                        <p><a href="#">Adele UK Tour<br>
                                            is Happening!</a></p>
                                    </li>
                                    <li>
                                        <img class="border-radius" src="{% static 'images/page1_img11.jpg' %}" width="270" height="270" alt="">
                                        <h6 class="text-color-primary">Music News</h6>
                                        <p><a href="#">Coldplay Turn Chimps<br>
                                            in Their New Video.</a>
                                        </p>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Megamenu -->
                            </li>
                            <li>
                                <a href="{% url 'schedule' %}">Schedule</a>
                            </li>
                            <li class="active">
                                <a href="{% url 'contacts' %}">Contacts</a>
                            </li>
                        </ul>
                        <!-- END RD Navbar Nav -->
                    </div>
                </div>
            </nav>
        </div>
        <!-- END RD Navbar -->

        <div class="container relative z-index-2">
            <div class="wrapper-1 text-center text-sm-left">
                <div class="row row-no-gutter row-xs-middle row-sm-reverse">
                    <div class="col-sm-7 col-lg-6">
                        <div class="row row-sm-no-gutter row-sm-reverse flow-offset-5">
                            <div class="col-sm-5 sm-bg-color-grayscale-darken-variant-1 text-center">
                                <div class="inset-7">
                                    <a href="#" class="btn_play item">
                                        Listen<br>Live
								<span>
									<img src="{% static 'images/page1_icon02.png' %}" width="30" height="30" alt="">
								</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-7 sm-bg-color-grayscale-darken flex flex-middle flex-center-to-sm offset-9">
                                <div class="box inset-5">
                                    <div class="box__left">
                                        <img class="icon-type-2" src="{% static 'images/page1_img01.jpg' %}" width="75" height="72" alt="">
                                    </div>
                                    <div class="box__body text-left">
                                        <h6>On Air</h6>
                                        <a href="#" class="heading-6 text-color-contrast">DJ Suzana</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-6">
                        <div class="inset-4">
                            <h6> Now Playing on <a href="#">Fairuze.</a></h6>
                            <a href="#" class="heading-6 text-color-contrast inline-block">Johnny Cash - Cry, Cry, Cry</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="page-content text-center text-md-left">

        <section class="well-6--inset-2 text-lg-left">
            <div class="container">
                <h2 class="text-color-primary line-height-variant-1">Contact Information</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="contact-info line-height-variant-1">
                            <div class="box">
                                <div class="box__left inset-1"><span class="material-icons-location_on icon-big"></span></div>
                                <div class="address box__body">
                                    <a href="#">4578 Marmora Road,<br />
                                        Glasgow D04 89GR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-info line-height-variant-1">
                            <div class="box">
                                <div class="box__left inset-1"><span class="material-icons-phone icon-big"></span></div>
                                <div class="box__body">
                                    <a href='callto:#'>+1 800 559 6580</a><br />
                                    <a href='callto:#'>+1 800 603 6035</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-info line-height-variant-1">
                            <div class="box">
                                <div class="box__left inset-1"><span class="material-design-screen44 icon-big"></span></div>
                                <div class="box__body">
                                    <a href="#" class="text-color-primary">www.demolink.org</a><br />
                                    <a href='mailto:#' class="text-color-primary">mail@demolink.org</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="well-7--inset-1 text-lg-left bg-texture-4">
            <div class="container">
                <h2 class="text-color-primary">Feedback</h2>

                    <!-- RD Mailform -->
                    <form class='rd-mailform' method="post" action="bat/rd-mailform.php">
                        <!-- RD Mailform Type -->
                        <input type="hidden" name="form-type" value="contact"/>
                        <!-- END RD Mailform Type -->
                        <fieldset class="mfinfo-type-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <label data-add-placeholder>
                                        <input type="text"
                                               name="name"
                                               placeholder="Your Name"
                                               data-constraints="@NotEmpty @LettersOnly"/>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label data-add-placeholder>
                                        <input type="text"
                                               name="email"
                                               placeholder="Your Email Address"
                                               data-constraints="@NotEmpty @Email"/>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label data-add-placeholder>
                                        <input type="text"
                                               name="phone"
                                               placeholder="Your Telephone"
                                               data-constraints="@Phone"/>
                                    </label>
                                </div>
                            </div>

                            <label data-add-placeholder>
                            <textarea name="message" placeholder="Message"
                                      data-constraints="@NotEmpty"></textarea>
                            </label>

                            <div class="mfControls btn-group pull-md-left offset-1">
                                <button class="btn font-small btn-lg-variant-3 btn-contrast btn-anis-type-4" type="submit">
                                    <img class="icon icon-left icon-inset-2" src="{% static 'images/page1_icon04.png' %}" width="25" height="26" alt="">
                                    <span class="inline-block">Submit Comment</span>
                                </button>
                            </div>

                            <div class="mfInfo"></div>
                        </fieldset>
                    </form>
                    <!-- END RD Mailform -->
            </div>

        </section>

        <section>
            <!-- RD Google Map -->
            <div class="rd-google-map">
                <div id="google-map" class="rd-google-map__model"></div>
                <ul class="rd-google-map__locations">
                    <li data-x="-73.9874068" data-y="40.643180">
                        <div>
                            <div>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</div>
                            <div>800 2345-6789</div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END RD Google Map -->
        </section>


    </main>
    <!--========================================================
                              FOOTER
    ==========================================================-->
    <footer class="page-footer text-center text-lg-left">
        <section class="bg-texture-2 well-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">

                        <!-- Brand -->
                        <a href="{% url 'home' %}" class="rd-navbar-brand box">
                            <div class="box__left">
									<span class="brand-logo icon icon-sm icon-primary">
										 <img src="{% static 'images/page1_icon01.png' %}" width="35" height="25" alt="">
									</span>
                            </div>
                            <div class="box__body">
                                <div class="brand-name">Fairu<span class="text-color-primary">ze.</span></div>
                                <div class="brand-slogan">Arabian Beauty!</div>
                            </div>
                        </a>
                        <!-- END Brand -->

                    </div>
                    <div class="col-lg-preffix-1 col-lg-4">
                        <address class="inset-9">
                            <a href="#" class="box">
                                <div class="box__left">
                                    <img src="{% static 'images/page1_icon06.png' %}" width="31" height="38" alt="">
                                </div>
                                <div class="box__body text-left">
                                    28 Jackson Blvd Ste 1020<br>
                                    Chicago, IL 60604-2340
                                </div>
                            </a>
                        </address>
                    </div>
                    <div class="col-lg-3">
                        <p class="copyright">
                            <span class="text-color-primary">Fairuze. </span>&copy; <span id="copyright-year"></span> |
                            <a href='{% url 'policy' %}'>Privacy Policy</a>
                            <!-- FOOTER_LINK -->
                        </p>
                        <ul class="inline-list preffix-3">
                            <li><a href="https://www.instagram.com/fairuzear/" target="_blank" class="icon-type-2 icon-sm icon-contrast fa-instagram"></a></li>
                            <li><a href="https://www.twitter.com/fairuzear" target="_blank" class="icon-type-2 icon-sm icon-contrast fa-twitter class="icon-type-2 icon-sm icon-contrast fa-twitter"></a></li>
                            <li><a href="https://web.facebook.com/fairuzeAR/" target="_blank" class="icon-type-2 icon-sm icon-contrast fa-facebook"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </footer>
</div>

<!-- Core Scripts -->
<script src="{% static 'js/core.min.js' %}"></script>
<!-- Additional Functionality Scripts -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>