{% extends "layout.html" %}
{% load static %}
{% load humanize %}


{% block title %}Fairuze | Arabian Beauty!{% endblock %}


{% block body %}
    <!-- RD Parallax -->
    <section class="rd-parallax text-color-contrast text-left">
        <div class="rd-parallax-layer" data-speed="0.3"
             data-type="media"
             data-url="{{ top_song.artist.cover_photo_url }}"></div>
        <div class="well-2 rd-parallax-layer" data-speed="0"
             data-type="html" data-fade="false">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <article class="event-post">
                            <h5 class="text-color-primary">Top Words</h5>
                            <div class="big">
                                {{ top_song.large_title }}
                                <br>
                                <span class="preffix-2 heading-1">
                                    {% if top_song.small_title %}
                                        {{ top_song.small_title }}
                                    {% else %}
                                        &#8203;
                                    {% endif %}
                                </span>
                            </div>
                            <a href="#"
                               class="event-post__info box box-skin-1">
                                <div class="box__left heading-2">+{{ top_song.up_votes }}</div>
                                <div class="post__data box__body">
                                    <h5>{{ top_song.artist.name }}</h5>
                                    {% if top_song.writer %}
                                        <address class="small">
                                            Written by
                                            <br class="sm-hidden lg-visible">
                                            {{ top_song.writer.name }}
                                        </address>
                                    {% endif %}
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END RD Parallax-->
    <section>
        <div class="row row-no-gutter bg-color-grayscale-default">
            <div class="row owl-carousel"
                 data-autoplay="true"
                 data-autoplay-timeout="3000"
                 data-smart-speed="2000"
                 data-loop="true"
                 data-nav="false"
                 data-dots="false"
                 data-items="1"
                 data-sm-items="2"
                 data-lg-items="4"
                 data-stage-padding="40"
                 data-xs-stage-padding="60"
                 data-lg-stage-padding="0"
                 data-margin="20"
                 data-xs-margin="30"
                 data-lg-margin="0">

                {% for lyric in featured %}
                    <div class="owl-item">
                        <a href="#"
                           class="event-post-2 bg-overlay inset-1">
                            <img src="{{ lyric.artist.photo_url }}"
                                 alt="{{ lyric.artist.name }} photo"/>
                            <div class="heading-2">{{ lyric.artist.first_name }}
                                <br>
                                {% if lyric.artist.last_name %}
                                    {{ lyric.artist.last_name }}
                                {% else %}
                                    &#8203;
                                {% endif %}
                            </div>
                            <div class="event-post__info box box-skin-2">
                                <div class="post__data box__body">
                                    <h5>{{ lyric.large_title }}</h5>
                                    <div class="small">
                                        {% if lyric.small_title %}
                                            {{ lyric.small_title }}
                                        {% else %}
                                            &#8203;
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="box__right heading-5">
                                    +{{ lyric.up_votes }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="well-3 text-sm-left">
        <div class="container">
            <div class="row flow-offset-2">
                <div class="col-lg-8">
                    <h2 class="text-color-primary">Latest Lyrics</h2>
                    <div class="row flow-offset-1">
                        {% for lyrics in latest %}
                            <div class="col-sm-6">
                                <img class="border-radius"
                                     src="{{ lyrics.artist.photo_url }}"
                                     width="270" height="270" alt="">
                                <h6 class="text-color-primary">{{ lyrics.artist.name }}</h6>
                                <h5><a href="#">{{ lyrics.title }}</a></h5>
                            </div>
                        {% endfor %}
                    </div>
                    <a href="{% url 'news' %}"
                       class="btn btn-lg btn-default btn-anis offset-2">
                        <img class="icon icon-left icon-inset-1"
                             src="{% static 'images/page1_icon03.png' %}"
                             width="21" height="27" alt="">
                        <span class="inline-block">View All</span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="row row-sm-middle flow-offset-3">
                        <div class="col-sm-6 col-lg-12">
                            <h2>Lyrics Chart</h2>
                            <ul class="marked-list">
                                {% for lyric in top %}
                                    <li class="wow fadeInRight"
                                        data-wow-delay="0.{{ forloop.counter }}s"><a
                                            href="#">{{ lyric.artist }} — {{ lyric.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-6 col-lg-12 text-sm-left">
                            <a class="banner bg-texture-6" href="#">
                                <div class="inset-2">
                                    <h5>Search</h5>

                                    <h2 class="text-color-contrast">
                                        Fairuze.
                                        Now</h2>
                                    <h5 class="text-color-primary-variant-1">
                                        For any rhythm you like</h5>
                                </div>
                                <div class="bg-color-grayscale-default">
                                    <div class="inset-3">
                                        <img src="{% static 'images/page1_img14.png' %}"
                                             width="269" height="57"
                                             alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="well-4 bg-texture-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-preffix-3 col-sm-6">
                    <div class="heading-5 text-color-primary line-height-variant-1">
                        Make the lyrics richer <br
                            class="sm-visible">
                        and write something amazing!
                    </div>
                    <a href="#"
                       class="btn btn-lg btn-contrast btn-anis-type-2">
                        <img class="icon icon-left icon-inset-2"
                             src="{% static 'images/page1_icon04.png' %}"
                             width="25" height="26" alt="">
                        <span class="inline-block">Register now</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- RD Google Map -->
    <div class="rd-google-map">
        <div id="google-map" class="rd-google-map__model"></div>
        <ul class="rd-google-map__locations">
            <li data-x="31.905164" data-y="35.203479">
                <div>
                    <div>Southern Theater, Jerash, Jordan.</div>
                    <div>+962 79 1122112</div>
                </div>
            </li>
        </ul>
    </div>
    <!-- END RD Google Map -->
{% endblock %}