{% load static %}

<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
    <!-- Site Title -->
    <title>Privacy Policy | Fairuze</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <!-- Stylesheets -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--[if lt IE 10]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <![endif]-->
</head>
<body>
<!-- The Main Wrapper -->
<div class="page">

    <!--For older internet explorer-->
    <div class="old-ie"
         style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <!--END block for older internet explorer-->

    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="page-header bg-texture-1 well-1">
        <!-- RD Navbar -->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel -->
                    <div class="rd-navbar-panel">

                        <!-- RD Navbar Toggle -->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                        <!-- END RD Navbar Toggle -->

                        <!-- RD Navbar Brand -->
                        <a href="{% url 'home' %}" class="rd-navbar-brand box">
                            <div class="box__left">
									<span class="brand-logo icon icon-sm icon-primary">
										 <img src="{% static 'images/page1_icon01.png' %}" width="35" height="25" alt="">
									</span>
                            </div>
                            <div class="box__body">
                                <div class="brand-name">Fairu<span class="text-color-primary">ze.</span></div>
                                <div class="brand-slogan">Arabian Beauty!</div>
                            </div>
                        </a>
                        <!-- END RD Navbar Brand -->
                    </div>
                    <!-- END RD Navbar Panel -->

                    <div class="rd-navbar-nav-wrap">

                        <!-- RD Navbar Nav -->
                        <ul class="rd-navbar-nav">
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'djs' %}">DJs & Shows</a>

                                <!-- RD Navbar Dropdown -->
                                <ul class="rd-navbar-dropdown">
                                    <li>
                                        <a href="#">Alens wal Jam</a>
                                    </li>
                                    <li>
                                        <a href="#">DJ Smith</a>

                                    </li>
                                    <li>
                                        <a href="#">DJ Amarok</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li>
                                                <a href='#'>Morning Show</a>
                                            </li>
                                            <li>
                                                <a href='#'>Evening Shows</a>
                                            </li>
                                            <li>
                                                <a href='#'>Night Show</a>
                                            </li>
                                            <li>
                                                <a href='#'>Weekend Show</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Dropdown -->

                            </li>
                            <li>
                                <a href="{% url 'events' %}">Events</a>
                            </li>
                            <li>
                                <a href="{% url 'news' %}">News & Info</a>
                                <!-- RD Navbar Megamenu -->
                                <ul class="rd-navbar-megamenu">
                                    <li>
                                        <img class="border-radius" src="{% static 'images/page1_img10.jpg' %}" width="270" height="270" alt="">
                                        <h6 class="text-color-primary">Music News</h6>
                                        <p><a href="#">Adele UK Tour<br>
                                            is Happening!</a></p>
                                    </li>
                                    <li>
                                        <img class="border-radius" src="{% static 'images/page1_img11.jpg' %}" width="270" height="270" alt="">
                                        <h6 class="text-color-primary">Music News</h6>
                                        <p><a href="#">Coldplay Turn Chimps<br>
                                            in Their New Video.</a>
                                        </p>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Megamenu -->
                            </li>
                            <li>
                                <a href="{% url 'schedule' %}">Schedule</a>
                            </li>
                            <li>
                                <a href="{% url 'contacts' %}">Contacts</a>
                            </li>
                        </ul>
                        <!-- END RD Navbar Nav -->
                    </div>
                </div>
            </nav>
        </div>
        <!-- END RD Navbar -->

        <div class="container relative z-index-2">
            <div class="wrapper-1 text-center text-sm-left">
                <div class="row row-no-gutter row-xs-middle row-sm-reverse">
                    <div class="col-sm-7 col-lg-6">
                        <div class="row row-sm-no-gutter row-sm-reverse flow-offset-5">
                            <div class="col-sm-5 sm-bg-color-grayscale-darken-variant-1 text-center">
                                <div class="inset-7">
                                    <a href="#" class="btn_play item">
                                        Listen<br>Live
								<span>
									<img src="{% static 'images/page1_icon02.png' %}" width="30" height="30" alt="">
								</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-7 sm-bg-color-grayscale-darken flex flex-middle flex-center-to-sm offset-9">
                                <div class="box inset-5">
                                    <div class="box__left">
                                        <img class="icon-type-2" src="{% static 'images/page1_img01.jpg' %}" width="75" height="72" alt="">
                                    </div>
                                    <div class="box__body text-left">
                                        <h6>On Air</h6>
                                        <a href="#" class="heading-6 text-color-contrast">Alens wal Jam</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-6">
                        <div class="inset-4">
                            <h6> Now Playing on <a href="#">Fairuze.</a></h6>
                            <a href="#" class="heading-6 text-color-contrast inline-block">Fayrouz - Shayef El Baher Shou Kbir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="page-content text-center text-sm-left">

        <!-- Privacy Policy -->
        <section class="well-6--inset-3 text-lg-left">
            <div class="container">
                <h2 class="text-color-primary line-height-variant-1">Privacy Policy</h2>

                <!-- Terms List -->
                <dl class="terms-list">
                    <dt class="heading-5">General Information</dt>
                    <dd>Welcome to our Privacy Policy page! When you use our web site services, you trust us with your
                        information. This Privacy Policy is meant to help you understand what data we collect, why we
                        collect it, and what we do with it. When you share information with us, we can make our services
                        even better for you. For instance, we can show you more relevant search results and ads, help
                        you connect with people or to make sharing with others quicker and easier. As you use our
                        services, we want you to be clear how we’re using information and the ways in which you can
                        protect your privacy. This is important; we hope you will take time to read it carefully.
                        Remember, you can find controls to manage your information and protect your privacy and
                        security. We’ve tried
                        to keep it as simple as possible.
                    </dd>

                    <dt class="heading-5">Right to Access, Correct and Delete Data and to Object to Data Processing</dt>
                    <dd>Our customers have the right to access, correct and delete personal data relating to them, and
                        to object to the processing of such data, by addressing a written request, at any time. The
                        Company makes every effort to put in place suitable precautions to safeguard the security and
                        privacy of personal data, and to prevent it from being altered, corrupted, destroyed or accessed
                        by unauthorized third parties. However, the Company does not control each and every risk related
                        to the use of the Internet, and therefore warns the Site users of the potential risks involved
                        in the functioning and use of the Internet. The Site may include links to other web sites or
                        other internet sources. As the Company cannot control these web sites and external sources, the
                        Company cannot be held responsible for the provision or display of these web sites and external
                        sources, and may not be held liable for the content, advertising, products, services or any
                        other material available on or from these web sites or external sources.
                    </dd>

                    <dt class="heading-5">Management of Personal Data</dt>
                    <dd>You can view or edit your personal data online for many of our services. You can also make
                        choices about our collection and use of your data. How you can access or control your personal
                        data will depend on which services you use. You can choose whether you wish to receive
                        promotional communications from our web site by email, SMS, physical mail, and telephone. If you
                        receive promotional email or SMS messages from us and would like to opt out, you can do so by
                        following the directions in that message. You can also make choices about the receipt of
                        promotional email, telephone calls, and postal mail by visiting and signing into Company
                        Promotional Communications Manager, which allows you to update contact information, manage
                        contact preferences, opt out of email subscriptions, and choose whether to share your contact
                        information with our partners. These choices do not apply to mandatory service communications
                        that are part of certain web site services.
                    </dd>

                    <dt class="heading-5">Information We Collect</dt>
                    <dd>Our store collects data to operate effectively and provide you the best experiences with our
                        services. You provide some of this data directly, such as when you create a personal account.
                        We get some of it by recording how you interact with our services by, for example, using
                        technologies like cookies, and receiving error reports or usage data from software running on
                        your device. We also obtain data from third parties (including other companies). For example, we
                        supplement the data we collect by purchasing demographic data from other companies. We also use
                        services from other companies to help us determine a location based on your IP address in order
                        to customize certain services to your location. The data we collect depends on the services
                        and features you use.
                    </dd>

                    <dt class="heading-5">How We Use Your Information</dt>
                    <dd>Our web site uses the data we collect for three basic purposes: to operate our business and
                        provide (including improving and personalizing) the services we offer, to send communications,
                        including promotional communications, and to display advertising. In carrying out these
                        purposes, we combine data we collect through the various web site services you use to give you a
                        more seamless, consistent and personalized experience. However, to enhance privacy, we have
                        built in technological and procedural safeguards designed to prevent certain data combinations.
                        For example, we store data we collect from you when you are unauthenticated (not signed in)
                        separately from any account information that directly identifies you, such as your name, email
                        address or phone number.
                    </dd>

                    <dt class="heading-5">Sharing Your Information</dt>
                    <dd>We share your personal data with your consent or as necessary to complete any transaction or
                        provide any service you have requested or authorized. For example, we share your content with
                        third parties when you tell us to do so. When you provide payment data to make a purchase, we
                        will share payment data with banks and other entities that process payment transactions or
                        provide other financial services, and for fraud prevention and credit risk reduction. In
                        addition, we share personal data among our controlled affiliates and subsidiaries. We also share
                        personal data with vendors or agents working on our behalf for the purposes described in this
                        statement. For example, companies we've hired to provide customer service support or assist in
                        protecting and securing our systems and services may need access to personal data in order to
                        provide those functions. In such cases, these companies must abide by our data privacy and
                        security requirements and are not allowed to use personal data they receive from us for any
                        other purpose. We may also disclose personal data as part of a corporate transaction such as a
                        merger
                        or sale of assets.
                    </dd>
                </dl>
                <!-- END Terms List -->

                <a class="heading-6 inline-block text-color-primary" href='mailto:#'>privacy@demolink.org</a>
            </div>
        </section>
        <!-- END Privacy Policy -->

    </main>
    <!--========================================================
                              FOOTER
    ==========================================================-->
    <footer class="page-footer text-center text-lg-left">
        <section class="bg-texture-2 well-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">

                        <!-- Brand -->
                        <a href="{% url 'home' %}" class="rd-navbar-brand box">
                            <div class="box__left">
									<span class="brand-logo icon icon-sm icon-primary">
										 <img src="{% static 'images/page1_icon01.png' %}" width="35" height="25" alt="">
									</span>
                            </div>
                            <div class="box__body">
                                <div class="brand-name">Fairu<span class="text-color-primary">ze.</span></div>
                                <div class="brand-slogan">Arabian Beauty!</div>
                            </div>
                        </a>
                        <!-- END Brand -->

                    </div>
                    <div class="col-lg-preffix-1 col-lg-4">
                        <address class="inset-9">
                            <a href="#" class="box">
                                <div class="box__left">
                                    <img src="{% static 'images/page1_icon06.png' %}" width="31" height="38" alt="">
                                </div>
                                <div class="box__body text-left">
                                    Southern Theatre<br>
                                    Jerash, Jordan
                                </div>
                            </a>
                        </address>
                    </div>
                    <div class="col-lg-3">
                        <p class="copyright">
                            <span class="text-color-primary">Fairuze. </span>&copy; <span id="copyright-year"></span> |
                            <a href='{% url 'policy' %}'>Privacy Policy</a>
                            <!-- FOOTER_LINK -->
                        </p>
                        <ul class="inline-list preffix-3">
                            <li><a href="https://www.instagram.com/fairuzear/" target="_blank" class="icon-type-2 icon-sm icon-contrast fa-instagram"></a></li>
                            <li><a href="https://www.twitter.com/fairuzear" target="_blank" class="icon-type-2 icon-sm icon-contrast fa-twitter class="icon-type-2 icon-sm icon-contrast fa-twitter"></a></li>
                            <li><a href="https://web.facebook.com/fairuzeAR/" target="_blank" class="icon-type-2 icon-sm icon-contrast fa-facebook"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </footer>
</div>


<!-- Core Scripts -->
<script src="{% static 'js/core.min.js' %}"></script>
<!-- Additional Functionality Scripts -->
<script src="{% static 'js/script.js' %}"></script>

<!-- Coded by Iceberg -->

</body>
</html>