{% extends "layout.html" %}
{% load static %}
{% load humanize %}


{% block title %}Fairuze | Arabian Beauty!{% endblock %}


{% block body %}
    <!-- RD Parallax -->
    <section class="rd-parallax text-color-contrast text-left">
        <div class="rd-parallax-layer" data-speed="0.3"
             data-type="media"
             data-url="{% static 'images/page1_parallax01.jpg' %}"></div>
        <div class="well-2 rd-parallax-layer" data-speed="0"
             data-type="html" data-fade="false">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <article class="event-post">
                            <h5 class="text-color-primary">Upcoming
                                Event</h5>
                            <div class="big">Palestine<br><span
                                    class="preffix-2 heading-1">
                                Youth Orchestra</span></div>
                            <a href="#"
                               class="event-post__info box box-skin-1">
                                <div class="box__left heading-2">
                                    21/09
                                </div>
                                <div class="post__data box__body">
                                    <h5>
                                        Hall of Music
                                    </h5>
                                    <address class="small">
                                        Southern Theatre<br
                                            class="sm-hidden lg-visible">
                                        Jerash, Jordan
                                    </address>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END RD Parallax-->
    <section>
        <div class="row row-no-gutter bg-color-grayscale-default">
            <div class="row owl-carousel"
                 data-autoplay="true"
                 data-autoplay-timeout="3000"
                 data-smart-speed="2000"
                 data-loop="true"
                 data-nav="false"
                 data-dots="false"
                 data-items="1"
                 data-sm-items="2"
                 data-lg-items="4"
                 data-stage-padding="40"
                 data-xs-stage-padding="60"
                 data-lg-stage-padding="0"
                 data-margin="20"
                 data-xs-margin="30"
                 data-lg-margin="0">

                {% for lyric in lyrics %}
                    <div class="owl-item">
                        <a href="#"
                           class="event-post-2 bg-overlay inset-1">
                            <img src="{{ lyric.artist.image.url }}"
                                 width="512" height="518"
                                 alt="{{ lyric.artist.name }} photo">
                            <div class="heading-2">{{ lyric.artist.first_name }}
                                <br>
                                {% if lyric.artist.last_name %}
                                    {{ lyric.artist.last_name }}
                                {% else %}
                                    &#8203;
                                {% endif %}
                            </div>
                            <div class="event-post__info box box-skin-2">
                                <div class="post__data box__body">
                                    <h5>{{ lyric.large_title }}</h5>
                                    <div class="small">
                                        {% if lyric.small_title %}
                                            {{ lyric.small_title }}
                                        {% else %}
                                            &#8203;
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="box__right heading-5">
                                    {{ lyric.created | naturalday }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="well-3 text-sm-left">
        <div class="container">
            <div class="row flow-offset-2">
                <div class="col-lg-8">
                    <h2 class="text-color-primary">Latest News</h2>
                    <div class="row flow-offset-1">
                        <div class="col-sm-6">
                            <img class="border-radius"
                                 src="{% static 'images/page1_img10.jpg' %}"
                                 width="270" height="270" alt="">
                            <h6 class="text-color-primary">Music
                                News</h6>
                            <h5><a href="#">Carole UK Tour<br>
                                is Happening!</a></h5>
                        </div>
                        <div class="col-sm-6">
                            <img class="border-radius"
                                 src="{% static 'images/page1_img11.jpg' %}"
                                 width="270" height="270" alt="">
                            <h6 class="text-color-primary">Music
                                News</h6>
                            <h5><a href="#">Cyrine Turn Chimps<br>
                                in Her New Video.</a>
                            </h5>
                        </div>
                        <div class="col-sm-6">
                            <img class="border-radius"
                                 src="{% static 'images/page1_img12.jpg' %}"
                                 width="270" height="270" alt="">
                            <h6 class="text-color-primary">Music
                                News</h6>
                            <h5><a href="#">Fares Karam is
                                working<br>
                                with Mark Ronson</a></h5>
                        </div>
                        <div class="col-sm-6">
                            <img class="border-radius"
                                 src="{% static 'images/page1_img13.jpg' %}"
                                 width="270" height="270" alt="">
                            <h6 class="text-color-primary">Music
                                News</h6>
                            <h5><a href="#">Rihanna announces<br>
                                ANTI World Tour</a></h5>
                        </div>
                    </div>
                    <a href="{% url 'news' %}"
                       class="btn btn-lg btn-default btn-anis offset-2">
                        <img class="icon icon-left icon-inset-1"
                             src="{% static 'images/page1_icon03.png' %}"
                             width="21" height="27" alt="">
                        <span class="inline-block">View All</span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="row row-sm-middle flow-offset-3">
                        <div class="col-sm-6 col-lg-12">
                            <h2>Music Chart</h2>
                            <ul class="marked-list">
                                <li class="wow fadeInRight"
                                    data-wow-delay="0.7s"><a
                                        href="#">Amr Diab — Meaddy
                                    El Nas</a></li>
                                <li class="wow fadeInRight"
                                    data-wow-delay="0.7s"><a
                                        href="#">Nai Barghouti —
                                    Roddani ela biladi</a></li>
                                <li class="wow fadeInRight"
                                    data-wow-delay="0.1s"><a
                                        href="#">Joseph Attieh —
                                    Hobb W Mkattar</a></li>
                                <li class="wow fadeInRight"
                                    data-wow-delay="0.3s"><a
                                        href="#">Nancy Ajram —
                                    Maakoul El Gharam</a></li>
                                <li class="wow fadeInRight"
                                    data-wow-delay="0.9s"><a
                                        href="#">Yara — Ah Mennak Ya
                                    Hawa</a></li>
                                <li class="wow fadeInRight"
                                    data-wow-delay="0.2s"><a
                                        href="#">Ramy Ayach —
                                    Bghanilha</a></li>
                                <li class="wow fadeInRight"
                                    data-wow-delay="0.4s"><a
                                        href="#">Assi El Hallani —
                                    Wani Mareq Mareet</a></li>
                                <li class="wow fadeInRight"
                                    data-wow-delay="0.5s"><a
                                        href="#">Hadi Younes — Aam
                                    Behlam Bi Rfika</a></li>
                                <li class="wow fadeInRight"
                                    data-wow-delay="0.6s"><a
                                        href="#">Wael Kfoury — Mean
                                    habebe ana</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-lg-12 text-sm-left">
                            <a class="banner bg-texture-6" href="#">
                                <div class="inset-2">
                                    <h5>Listen to</h5>

                                    <h2 class="text-color-contrast">
                                        Fairuze.
                                        Live</h2>
                                    <h5 class="text-color-primary-variant-1">
                                        From Anywhere
                                        with</h5>
                                </div>
                                <div class="bg-color-grayscale-default">
                                    <div class="inset-3">
                                        <img src="{% static 'images/page1_img14.png' %}"
                                             width="269" height="57"
                                             alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="well-4 bg-texture-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-preffix-3 col-sm-6">
                    <div class="heading-5 text-color-primary line-height-variant-1">
                        Make the lyrics richer <br
                            class="sm-visible">
                        and write something amazing!
                    </div>
                    <a href="#"
                       class="btn btn-lg btn-contrast btn-anis-type-2">
                        <img class="icon icon-left icon-inset-2"
                             src="{% static 'images/page1_icon04.png' %}"
                             width="25" height="26" alt="">
                        <span class="inline-block">Register now</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- RD Google Map -->
    <div class="rd-google-map">
        <div id="google-map" class="rd-google-map__model"></div>
        <ul class="rd-google-map__locations">
            <li data-x="32.2767025" data-y="35.8870642">
                <div>
                    <div>Southern Theater, Jerash, Jordan.</div>
                    <div>+962 79 1122112</div>
                </div>
            </li>
        </ul>
    </div>
    <!-- END RD Google Map -->
{% endblock %}