{% extends 'layout.html' %}

{% load static %}

{% block body %}
  <section class="well-6 text-lg-left">
    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <h2 class="text-color-primary">Our DJs</h2>
          <p>Our tools are built out of experience. We believe everyone
            has something to say and share with the world and this is
            why we love to bring professional tools and advanced
            features to you. Your voice deserves quality, experience
            it.</p>
        </div>
      </div>
      <div class="row offset-9">
        <div class="col-sm-6 wow fadeInLeft" data-wow-delay="0.7s">
          <div class="bg-texture-4 border-radius relative inset-11">
            <img class="height100 absolute-left z-index--1"
                 src="{% static 'images/page2_img01.png' %}" width="381"
                 height="390" alt="">
            <h3 class="text-color-contrast text-right line-height-variant-1">
              Sandra<br/>
              <span class="text-color-primary">Beck</span></h3>
            <ul class="inline-list inline-list-right offset-6">
              <li><a href="#"
                     class="icon-type-2 icon-sm icon-contrast-variant-1 fa-instagram"></a>
              </li>
              <li><a href="#"
                     class="icon-type-2 icon-sm icon-contrast-variant-1 fa-facebook"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-delay="0.7s">
          <div class="bg-texture-4 border-radius relative inset-11">
            <img class="height100 absolute-right z-index--1"
                 src="{% static 'images/page2_img02.png' %}" width="411"
                 height="390" alt="">
            <h3 class="text-color-contrast text-left line-height-variant-1">
              Timothy<br/>
              <span class="text-color-primary">Harris</span></h3>
            <ul class="inline-list inline-list-left offset-6 preffix-0">
              <li><a href="#"
                     class="icon-type-2 icon-sm icon-contrast-variant-1 fa-instagram"></a>
              </li>
              <li><a href="#"
                     class="icon-type-2 icon-sm icon-contrast-variant-1 fa-facebook"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </section>
  <section class="well-7 bg-texture-5">
    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <h2 class="text-color-primary">Our History</h2>
          <p class="wow wow fadeInUp" data-wow-delay="0.4s">
            Over a decade ago, we recognized that the Internet was
            rapidly creating new possibilities for radio. Naming our
            software development company Fairu<span
              class="text-color-primary">ze.</span>, we launched the SAM
            Broadcaster radio automation software in 2002. During the
            mid-2000s, we added DJ software and a live audio encoder to
            our roster. Over the years, our products have garnered the
            admiration of the broadcasting and DJing community and the
            respect of our peers. That’s why our top priority is
            developing technologically advanced software that lets you
            operate at a professional level. In 2009, Fairuze. was
            acquired by Triton Digital. This gave us access to
            cutting-edge streaming technology, expert knowledge of the
            radio industry and its ecosystem, and exhaustive resources
            that have allowed us to grow in the right direction. Today,
            our products and services are used in over 150 countries. We
            are excited about the future as we continue to develop the
            best tools possible for people starting their careers in
            radio broadcasting.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="well-3">
    <div class="container">
      <h2 class="text-color-primary">Who We Are
      </h2>
      <div class="row flow-offset-4">
        <div class="col-sm-6 col-md-4">
          <img class="border-radius"
               src="{% static 'images/page2_img03.jpg' %}" width="270"
               height="270" alt="">
          <h5>Nicholas Hunter</h5>
          <h6 class="text-color-primary">Chief Technology Officer</h6>
        </div>
        <div class="col-sm-6 col-md-4">
          <img class="border-radius"
               src="{% static 'images/page2_img04.jpg' %}" width="270"
               height="270" alt="">
          <h5>Joseph Hunter</h5>
          <h6 class="text-color-primary">Development Manager</h6>
        </div>
        <div class="col-sm-6 col-md-4">
          <img class="border-radius"
               src="{% static 'images/page2_img05.jpg' %}" width="270"
               height="270" alt="">
          <h5>Joyce Stephens</h5>
          <h6 class="text-color-primary">Customer Services Manager</h6>
        </div>
        <div class="col-sm-6 col-md-4">
          <img class="border-radius"
               src="{% static 'images/page2_img06.jpg' %}" width="270"
               height="270" alt="">
          <h5>Ann Willis</h5>
          <h6 class="text-color-primary">Financial Manager</h6>
        </div>
        <div class="col-sm-6 col-md-4">
          <img class="border-radius"
               src="{% static 'images/page2_img07.jpg' %}" width="270"
               height="270" alt="">
          <h5>Steven Hudson</h5>
          <h6 class="text-color-primary">Digital Marketing
            Specialist</h6>
        </div>
        <div class="col-sm-6 col-md-4">
          <img class="border-radius"
               src="{% static 'images/page2_img08.jpg' %}" width="270"
               height="270" alt="">
          <h5>Scott Henry</h5>
          <h6 class="text-color-primary">Senior Developer</h6>
        </div>
      </div>
      <div class="row offset-7">
        <div class="col-sm-4">
          <a href="#"
             class="banner bg-texture-6 border-radius inset-12">
            <h2 class="text-color-contrast">Work</h2>
            <div class="heading-5">With Us</div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="#"
             class="banner bg-texture-5 border-radius inset-12">
            <h2 class="text-color-primary">Become</h2>
            <div class="heading-5">An Affiliate</div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="#"
             class="banner bg-texture-3 border-radius inset-12">
            <h2 class="text-color-lightest">Press</h2>
            <div class="heading-5 text-color-contrast">Releases</div>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
