/*
* MF Validation
*/

$rd-validation-color: #ff4d4d;

.mfValidation {
  position: absolute;
  top: 5px;
  //padding-left: nth($input-padding, 2);
  left: 30px;
  color: $rd-validation-color;
  font-weight: $input-font-weight;
  font-size: 10px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  pointer-events: none;
  transition: .3s all ease;
  @media (min-width: $screen-xl-min) {
  left: 50px;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &.hide, &.valid {
    opacity: 0;
    visibility: hidden;
  }
}
